<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GJames - Staff Login</title>
    <link rel="stylesheet" href="/static/css/style-login.css">
    <link rel="icon" href="https://gjames.com/sites/default/files/favicon.ico">
</head>
<body>
<main>
    <h1>Staff Login</h1>
    <form action="/login" method="post" class="login-form">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <input type="submit" value="Login">
    </form>
</main>
</body>
</html>
