<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GJames - Change Temp Threshold</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="https://gjames.com/sites/default/files/favicon.ico">
</head>
<body>
<header>
    <nav class="topnav">
        <div class="flex-container">
            <a class="active" href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/manager_threshold">Change Threshold</a>
            <a href="/logout">Logout</a>
        </div>
    </nav>
</header>

<main class="container">
    <h1>Change Temperature Threshold</h1>
    <form method="post">
        <label for="change_time">Current Time:</label>
        <input type="time" id="change_time" name="change_time" required>

        <label for="change_date">Current Date:</label>
        <input type="date" id="change_date" name="change_date" required>

        <label for="new_tempThreshold">New Temperature Threshold:</label>
        <input type="number" id="new_tempThreshold" name="new_tempThreshold" step="0.1" required>

        <button type="submit" id="applyChanges_btn">Apply Changes</button>
    </form>
</main>
</body>
</html>
