<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style-login.css">
    <link rel="icon" href="https://gjames.com/sites/default/files/favicon.ico">
    <!-- Change the title if using as a template for something different -->
    <title>Register</title>
</head>
<body>
<h1>Sign up</h1>
<form action="/signup" method="post">
    <p>Username</p><input type="text" name="username">
    <p>Password</p><input type="password" name="password">
    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
    <div class="clearfix">
        <button type="button" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Sign Up</button>
    </div>
</form>
</body>
</html>
